*, *::after, *::before{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

:root{
    --rosa: #fe655f;
    --negro: #402f47;
}

main{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

    main .carta{
        position: relative;
        max-width: 600px;
        width: 50%;
        height: 400px;
        display: flex;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        -webkit-transform: perspective(1000px);
        -moz-transform: perspective(1000px);
        -ms-transform: perspective(1000px);
        -o-transform: perspective(1000px);
        box-shadow: 10px 20px 40px rgba(0, 0, 0, .25);
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        transition: border-radius 1s;
        -webkit-transition: border-radius 1s;
        -moz-transition: border-radius 1s;
        -ms-transition: border-radius 1s;
        -o-transition: border-radius 1s;
    }

    main .carta:hover{
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }

        /*
        *-----------------------------------------------
        *Start carta contenedor
        *-----------------------------------------------
        */
        main .carta .hojaExterior{
            position: relative;
            width: 50%;
            height: 100%;
            z-index: 1;
            transform-style: preserve-3d;
            transition: 1s;
            /*transition: transform 1s, border-radius 1s .1s;
            -webkit-transition: 1s;
            -moz-transition: 1s;
            -ms-transition: 1s;
            -o-transition: 1s;
            */box-shadow: 10px 20px 40px rgba(0, 0, 0, .25);
            overflow: hidden;
            border: 20px solid var(--negro);
}

        main .carta .hojaExterior:first-child{
            transform-origin: left;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        main .carta .hojaExterior:last-child{
            transform-origin: right;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }

        main .carta:hover .hojaExterior:first-child{
            transform: rotateY(-180deg);
            -webkit-transform: rotateY(-180deg);
            -moz-transform: rotateY(-180deg);
            -ms-transform: rotateY(-180deg);
            -o-transform: rotateY(-180deg);
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        main .carta:hover .hojaExterior:last-child{
            transform: rotateY(180deg);
            -webkit-transform: rotateY(180deg);
            -moz-transform: rotateY(180deg);
            -ms-transform: rotateY(180deg);
            -o-transform: rotateY(180deg);
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }

        /*
        *-----------------------------------------------
        *End carta contenedor
        *-----------------------------------------------
        */

            /*
            *-----------------------------------------------
            *Start del corazon
            *-----------------------------------------------
            */
            main .carta .hojaExterior .ladoExterno, main .carta .hojaExterior .ladoInterno{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
            }

            main .carta .hojaExterior .ladoInterno{
                display: flex;
                flex-wrap: wrap;
                column-gap: 10%;
                justify-content: space-around;
                align-items: center;
                color: red;
                font-size: 50px;
                background-color: var(--negro);
                transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
                -moz-transform: rotateY(180deg);
                -ms-transform: rotateY(180deg);
                -o-transform: rotateY(180deg);
}

            main .carta .hojaExterior .ladoExterno{
                background-color: var(--rosa);
            }

                main .carta .hojaExterior .ladoExterno .love{
                    width: 150px;
                    height: 150px;
                    transform: rotate(45deg);
                    background: red;
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                    position: absolute;
                    top: calc(50% - 75px);
                    transform-style: preserve-3d;
                }

                main .carta .hojaExterior:first-child .ladoExterno .love{
                    left: calc(80% - 3px);
                }

                main .carta .hojaExterior:last-child .ladoExterno .love{
                    right: calc(80% - 3px);
                }

                main .carta .hojaExterior .ladoExterno .love:before{
                    content: "";
                    height: 150px;
                    width: 150px;
                    border-radius: 50%;
                    background: red;
                    position: absolute;
                }

                main .carta .hojaExterior:first-child .ladoExterno .love:before{
                    top: 0;
                    left: -75px;
                }

                main .carta .hojaExterior:last-child .ladoExterno .love:before{
                    top: -75px;
                    left: 0px;
                }
            /*
            *-----------------------------------------------
            *End del corazon
            *-----------------------------------------------
            */

            /*
            *-----------------------------------------------
            *Start carta contenedor detras
            *-----------------------------------------------
            */

            




            /*
            *-----------------------------------------------
            *End carta contenedor detras
            *-----------------------------------------------
            */